:root {
    --bitcoin-pink: #6e11d8;
    --soft-pink: lightpink;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
body { 
    font-family: 'Inter', sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: auto;
    text-align: center;
    background-color: #2530c6;
    background-image: linear-gradient(29deg, #2530c6 0%, #8700fb 52%, #0d1410 90%);

}
header img {
    width: 120px;
    height: 120px;
    margin-top: 60px;
    align-self: center;
}
header h1 {
    color: var(--soft-pink);
}
.header_title_container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header_title_container h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--off-white);
}
.header_title_container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-pink);
}
.header_title_container .header_button {
    position: absolute;
    display: block;
    left: calc(50% - 118px);
    margin-top: 35px;
    padding: 15px;
    width: 224px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header_button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../src/assets/down-arrow.svg');
}
